# General files
.git
.github
.devcontainer
.vscode

# Test related files
.tox

# Temporary files
**/__pycache__
.pytest_cache

# virtualenv
venv/

# Data
home-assistant-polymer/
script/
tests/

# Test ENV
data/
