# General files
.git
.github
.devcontainer
.vscode

# Test related files
.tox

# Temporary files
**/__pycache__
.pytest_cache

# virtualenv
venv/

# HA
home-assistant-polymer/*
misc/*
script/*

# Test ENV
data/
