[submodule "supervisor-base/openembedded-core"]
	path = supervisor-base/openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "supervisor-base/bitbake"]
	path = supervisor-base/bitbake
	url = git://git.openembedded.org/bitbake
