sudo: false
matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.6-dev"
      env: TOXENV=py36

cache:
  directories:
    - $HOME/.cache/pip
install: pip install -U tox
language: python
script: tox hassio_api
