# https://dev.azure.com/home-assistant

trigger:
  batch: true
  branches:
    include:
      - dev
pr: none
variables:
  - name: versionWheels
    value: '1.6.1-3.7-alpine3.11'
resources:
  repositories:
    - repository: azure
      type: github
      name: 'home-assistant/ci-azure'
      endpoint: 'home-assistant'


jobs:
- template: templates/azp-job-wheels.yaml@azure
  parameters:
    builderVersion: '$(versionWheels)'
    builderApk: 'build-base;libffi-dev;openssl-dev'
    builderPip: 'Cython'
    wheelsRequirement: 'requirements.txt'
