black==23.1.0
codecov==2.1.12
coverage==7.1.0
flake8-docstrings==1.7.0
flake8==6.0.0
pre-commit==3.0.2
pydocstyle==6.3.0
pylint==2.15.10
pytest-aiohttp==1.0.4
pytest-asyncio==0.18.3
pytest-cov==4.0.0
pytest-timeout==2.1.0
pytest==7.2.1
pyupgrade==3.3.1
time-machine==2.9.0
