coverage==7.5.4
pre-commit==3.7.1
pylint==3.2.4
pytest-aiohttp==1.0.5
pytest-asyncio==0.23.6
pytest-cov==5.0.0
pytest-timeout==2.3.1
pytest==8.2.2
ruff==0.4.10
time-machine==2.14.1
typing_extensions==4.12.2
urllib3==2.2.2
