aiohttp==3.5.4
async_timeout==3.0.1
attrs==19.1.0
cchardet==2.1.4
colorlog==4.0.2
cpe==1.2.1
cryptography==2.7
docker==4.0.2
gitpython==2.1.13
pytz==2019.2
pyudev==0.21.0
uvloop==0.12.2
voluptuous==0.11.7
ptvsd==4.3.0
