aiohttp==3.6.2
async_timeout==3.0.1
attrs==19.3.0
cchardet==2.1.4
colorlog==4.0.2
cpe==1.2.1
cryptography==2.8
docker==4.1.0
gitpython==3.0.3
packaging==19.2
pytz==2019.3
pyudev==0.21.0
ruamel.yaml==0.15.100
uvloop==0.13.0
voluptuous==0.11.7
ptvsd==4.3.2
