aiohttp==3.8.1
async_timeout==4.0.2
atomicwrites==1.4.0
attrs==21.2.0
awesomeversion==22.1.0
brotli==1.0.9
cchardet==2.1.7
ciso8601==2.2.0
colorlog==6.6.0
cpe==1.2.1
cryptography==36.0.1
debugpy==1.5.1
deepmerge==1.0.1
docker==5.0.3
gitpython==3.1.25
jinja2==3.0.3
pulsectl==21.10.5
pyudev==0.22.0
ruamel.yaml==0.17.17
sentry-sdk==1.5.1
voluptuous==0.12.2
dbus-next==0.2.3
