# Add a specific named PulseAudio pcm and ctl (typically useful for testing)

pcm.pulse {
	@args [ DEVICE ]
	@args.DEVICE {
		type string
		default ""
	}
	type pulse
	device $DEVICE
	hint {
		show {
			@func refer
			name defaults.namehint.basic
		}
		description "PulseAudio Sound Server"
	}
}

ctl.pulse {
	@args [ DEVICE ]
	@args.DEVICE {
		type string
		default ""
	}
	type pulse
	device $DEVICE
}

# Default to PulseAudio

pcm.!default {
    type pulse
    hint {
        show on
        description "Default ALSA Output (Home Assistant PulseAudio Sound Server)"
    }
}

ctl.!default {
    type pulse
}
