.:53 {
    log
    errors
    hosts /config/hosts {
        fallthrough
    }
    template ANY AAAA local.hass.io hassio {
        rcode NOERROR
    }
    forward . {{ locals | join(" ") }} {
        except local.hass.io
        policy sequential
        health_check 5s
    }
    cache 10
}

.:5353 {
    log
    errors
    forward . tls://1.1.1.1 tls://1.0.0.1 {
        tls_servername cloudflare-dns.com
        except local.hass.io
        health_check 10s
    }
    cache 30
}
