.:53 {
    log
    errors
    hosts /config/hosts {
        fallthrough
    }
    template ANY AAAA local.hass.io hassio {
        rcode NOERROR
    }
    forward . $servers {
        except local.hass.io
        policy sequential
        health_check 10s
    }
}
