[Unit]
Description=SSH authorized_keys state bind mount
Requires=mnt-state.mount resin-state-reset.service
After=mnt-state.mount resin-state-reset.service
Before=etc-dropbear.mount

[Mount]
What=/mnt/state/root-overlay/home/root/.ssh
Where=/home/root/.ssh
Type=none
Options=bind

[Install]
WantedBy=resin-bind.target
